# Search Requirements
Build an initial index
Add a message after the index is built and make it searchable
Update the message content after insert and make new content searchable 
  OR remove the message from the index and re-index it with new content

LUNR does not seem able to support editing or removing indexed documents.
Since Fuse is simpler and keeps them all in an array instead of building an inverted index it may be more extensible
Does ElasticLunr support editing or removing docs?
FUSE seems to be difficult in finding an EXACT match. may need to tweak the search options or it may just not be right.
